.errormessage {
  color: red;
  font-size: 0.875rem;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

@media (max-width: 600px) {
  .MuiTypography-root {
    font-size: 0.875rem;
  }
}
